nav{
    min-width: 85%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: red;
}
.e{
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5px;
}

.links{
    display: flex;
    gap: 70px;
    list-style-type: none;
}

.links a{
    text-decoration: none;
    font-family: 'Inter';
    color: black;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 20px;
    transition: .2s;
}

.links a:hover{
    background-color: red;
    color: white;
}


@media (min-width: 320px) and (max-width:480px) {
    .links{
        position: absolute;
        right: 0;
        top: 0;
        width: 65%;
        gap: 0;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.5);
        height: calc(var(--vh) - 40px);
        margin: auto;
        bottom: 0;
        z-index: 4;
        border-radius: 40px 0px 0px 40px;
        animation-fill-mode: both;
        animation: mymove .5s;
    }
    @keyframes mymove {
        0%   {width: 0%;}
        100% {width: 65%;}
      }
    nav{
        align-items: center;
    }
    #toogle{
        z-index: 10;
        height: 1.5rem !important;
        width: 1.5rem !important;
    }
    li{
        margin-top: 50px;
        margin-left: 30px;
    }
}